@model AoacControl.Models.ViewModels.AssociadoFormViewModel
@{
    ViewData["Title"] = "Incluir Associado";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Associado.CreatedAt" value="@DateTime.Now" />
            <input type="hidden" asp-for="Associado.UpdatedAt" value="@DateTime.Now" />
            <div class="form-group">
                <label asp-for="Associado.NomeCompleto" class="control-label"></label>
                <input asp-for="Associado.NomeCompleto" class="form-control" />
                <span asp-validation-for="Associado.NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associado.ComunidadeID" class="control-label"></label>
                <select asp-for="Associado.ComunidadeID" asp-items="@(new SelectList(Model.Comunidades, "Id", "Nome"))" class="form-control"></select>
                <span asp-validation-for="Associado.ComunidadeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associado.InstrumentoID" class="control-label">Nr. Patrimonio Instrumento</label>
                <select asp-for="Associado.InstrumentoID" asp-items="@(new SelectList(Model.Instrumentos, "Id", "Patrimonio"))" class="form-control">]
                    <option disabled selected>Selecionar...</option>
                </select>
                <span asp-validation-for="Associado.InstrumentoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associado.Voz" class="control-label">Tipo Instrumento</label>
                <select asp-for="Associado.Voz" asp-items="Html.GetEnumSelectList<AoacControl.Models.Enums.Voz>()" class="form-control">
                    <option disabled selected>Selecionar...</option>
                </select>
                <span asp-validation-for="Associado.Voz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associado.Celular" class="control-label"></label>
                <input asp-for="Associado.Celular" type="tel" class="form-control" />
                <span asp-validation-for="Associado.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associado.Email" class="control-label"></label>
                <input asp-for="Associado.Email" type="email" class="form-control" />
                <span asp-validation-for="Associado.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-outline-primary btn-sm">Retornar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
