@model AoacControl.Models.ViewModels.AssociadoFormViewModel

@{
    ViewData["Title"] = "Detalhes do Associado";
}

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.NomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Associado.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.Comunidade.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Associado.Comunidade.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.InstrumentoID.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Associado.InstrumentoID.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Associado.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Associado.Email)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Associado.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Associado.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Associado.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.Associado.Id">Editar</a>
    <a asp-action="Index" class="btn btn-outline-primary btn-sm">Retornar</a>
</div>
